.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}
.maindash-heading-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}
#light .MainDash h1, #light .MainDash h2{
    color: var(--DarkBG);
}
#dark .MainDash h1, #dark .MainDash h2{
    color: #ECF5FC;
}

#light .MainDash{
    background-color: white;
}
#dark .MainDash{
    background-color: var(--DarkBG);
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .maindash-heading-wrapper{
        width: 100%;
        margin-left: 2rem;
        margin-top: 2.5rem;
    }
    .MainDash{
        align-items: center;
    }
}
