.landing{
    margin: 0 13%;
}
.landing-section1{
    display: flex;
    width: 100%;
    position: relative;
}
.landing-img-bg::before{
    position: absolute;
    top:0;
    left: 0;
}
.landing-img-bg{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-image:url(../imgs/Frame1.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    
   

}
.content{
    width: 90%;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
}
.content h1{
    font-size: 3rem;
}



@media screen and (max-width: 1200px) {
    .landing{
        margin: 0 10%;
    }
    .landing-img-bg{
        background-image: none;
    }
  }


@media screen and (max-width: 765px) {
    .landing{
        margin: 0 5%;
    } 
    
}