.signup-form-container{
    width: 30%;
}
.signup-form{
    padding: 2rem;
    border-radius: 20px;
    background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
	height: 100%;
	text-align: center;
    color: black;
}
.signup-form input{
    background-color: #eee;
	border: none;
	padding: 0.8rem;
    border-radius: 10px;
}
.signup-form button{
    background-color: lightblue;
	border: none;
	padding: 0.8rem;
    border-radius: 10px;
    width: 5rem;
}
.signup-form a{
    text-decoration: none;
	color: lightgray;
    font-size: 0.8rem;
}
.signup-form p{
    text-decoration: none;
	color: red;
    font-size: 0.8rem;
}